<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/JdbcExample/src/com/infinite/jdbc1/jdbcConnectionExample1.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.infinite.jdbc1.jdbcConnectionExample1"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="com.mysql.jdbc.Driver"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="JdbcExample"/>
</launchConfiguration>
